<div class="p-2 ">
    <div class="grid shadow-3" style="height: 70px;">
        <div class="col-4" [style.background-color]="color1">
            <div class="flex justify-content-center align-items-center w-full h-full">
                <i class="{{icon}} fa-2x text-white"></i>
            </div>
        </div>
        <div class="col-8" [style.background-color]="color2">
            <div class="flex flex-column justify-content-top h-full">
                <span class="text-white font-bold text-5xl text-right">{{value}}</span>
                <span class="text-white text-right">{{label}}</span>
            </div>
        </div>
    </div>
</div>